.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.item{
    background-color: aquamarine;
    border: 2px solid yellow;
    text-align: center;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}