h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

form{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


p{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
}

form > label{

    background-color: green

}

form > button{
    font-size: 40px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    background-color: aliceblue;
}